# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Django
db.sqlite3
media/
staticfiles/
static/collected/

# OS/IDE
.DS_Store
.idea/
.vscode/
*.swp
*.bak

# Temporary / Scratch files
scratch/
